@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body{
  background-color: aliceblue;
}

.main
{
  align-items: center;
  margin-left: 38%;
}
.tables
{
  grid-column: 6;
}

.prepare
{

  text-align: center;
  background-color: black;
  color: white;
  font-size:50px;
}
.serving
{
  background-color: green;
  color: white;
  font-size:50px;
}
table
{
  table-layout: fixed;
}
tbody
{
  font-weight: 800;
  font-size: 30px;
}


